.row {
    min-height: 300px;
}

.image img{
    height: 250px;
}

.image-new img {
    height: 400px;
    width: 70%;
}

.details {
    line-height: 35px;
    font-size: 20px;
}

.info {
    font-size: 20px;
}

.card img {
    height: 300px;
}

.course{
    align-items: end;
}